package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Your Daily Quest</title>
		<link rel="icon" type="image/x-icon" href="static/favicon.ico">
		<link rel="stylesheet" href="static/css/styles.css">
	</head>
	<body>
		{ children... }
	</body>
	</html>
}
