package layout

// import "betteryou/view/component"
import "betteryou/model"
import "betteryou/view/component"

templ Home(
	tasks		[]model.Task,
	activeTask	[]model.ActiveTask,
) {
	@Base() {
		@LeftHalf() {
			@component.ActiveTasksContainer(activeTask)
		}
		@RightHalf() {
			@component.TasksContainer(tasks)
		}
	}
}
