package layout

// import "betteryou/view/component"
import "betteryou/model"
import "betteryou/view/component"

templ Home(
	tasks		[]model.Task,
	activeTask	[]model.ActiveTask,
	rewards		[]model.Reward,
	user		*model.User,
) {
	@Base() {
		@LeftHalf() {
			@component.ActiveTasksContainer(activeTask)
		}
		@RightHalf() {
			@component.UserContainer(user)
			@component.RewardContainer(rewards)
			@component.TasksContainer(tasks)
		}
	}
}
